.topo-blog-completo {
    background-image: url('../resources/topo blog.png'); 
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 15% ;
}

.link-return{
    color: white;
}

.link-return:hover{
    color: #70408C;
}

.imgTitulo{
    height: 650px; 
    background-position: top !important; 
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 80%;
    position: relative;
}

.titulo {
    color: white;
    font-size: 3.3vw;
    font-weight: bold;
}

.first-item-image{
    width: 100%;
    height: auto;
    position: relative; 
    background: url('./resources/imagem-posts-home (1).png'); 
    background-position: center !important; 
    background-size: cover !important; 
    background-repeat: no-repeat !important;
}


.post-principal{
    padding: 0%;
    padding-right: 20%;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.titulo-secundario {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.info-post-secundario{
    padding: 2%;
    border: none;
    margin: auto;
}

.tipo-post-secundario{
    position: absolute; 
    top: 1%; 
    right: 2%;
    color: #FF71A2;
    font-size: 14px;
}

.link-playlist {
    font-size: 13px;
    color: #70408C;
}

.link-playlist:hover{
    color: #FF71A2;
}

.link-blog-completo {
    font-size: 1rem;
    color:#FF71A2;
    font-weight: bold;
    text-decoration: none;
}

.link-blog-completo:hover{
    color: white;
}

.mensagem-final {
    padding: 6%;
    background-image: url('../resources/fundo-pagina-3.png'); 
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.playerYoutube{
    margin-left: 10%; 
    width: 80%; 
    height: 50vh;
}

/*=========== Mobile ===========*/

@media screen and (max-width: 600px) {
    

    .imgTitulo{
        height: 280px; 
    }

    .playerYoutube{
        margin-left: 0% !important;
        width: 100% !important;
        height: 20vh;
    }
    
}